# Step1 - Dependencies and Read files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [9]:
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(2)

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban

In [10]:
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(2)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577

# Step 2 - Check nulls in files and dtypes

In [11]:
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [12]:
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [17]:
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [18]:
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [30]:
city_data_df.dtypes
ride_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [23]:
# Get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [24]:
sum(city_data_df["type"]== 'Urban')

66

In [25]:
sum(city_data_df["type"]== 'Suburban')

36

In [26]:
sum(city_data_df["type"]== 'Rural')

18

# Step 3 - Merge two datasets

In [33]:
pyber_data_df = pd.merge(city_data_df, ride_data_df, how = "left", on= ["city", "city"])
pyber_data_df

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2019-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2019-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2019-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2019-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2019-04-17 02:26:37,23.00,720020655850
...,...,...,...,...,...,...
2370,Jessicaport,1,Rural,2019-01-31 17:57:25,58.29,623154556195
2371,South Saramouth,7,Rural,2019-02-20 16:32:36,44.29,3622365199969
2372,South Saramouth,7,Rural,2019-01-28 15:55:33,31.25,7118046558393
2373,South Saramouth,7,Rural,2019-03-27 21:07:16,11.87,170351888128
2374,South Saramouth,7,Rural,2019-04-12 18:11:50,57.23,5081198789583